<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>

    <title>Casey Lawson Jones - Software Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Seo Meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- STYLES -->

    <!-- Template-specific links -->
    <link rel="stylesheet" type="text/css" href="../../Assets/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Assets/styles/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Assets/styles/flexslider.css" media="screen" />
    <link id="animate_css_file" rel="stylesheet" type="text/css" href="../../Assets/styles/animate.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Assets/styles/prettyPhoto.css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../Assets/images/favicon.ico">

    <!-- Custom Styles -->
    <style type="text/css" id="themecolors"></style>

    <!-- Syntax Highlighter is used for allowing source code to be color-coded -->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeMidnight.css" rel="stylesheet" />
    <!-- This change must be made "in-page" to keep the preformatted JavaScript code from forcing the-->
    <!-- modal off the page in the JavaScript Projects modals. Changing the CSS file does nothing. -->
    <style>
        .syntaxhighlighter {
            max-height: 500px;
        }
    </style>


    <!-- Bootstrap will be used for modals in the Project section -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Post Template Add-ons and Overrides -->
    <link href="~/Assets/post_template.css" rel="stylesheet" />
    @*<link href="~/Assets/javascript_exercises.css" rel="stylesheet" />*@
    <!-- /STYLES -->
</head>

<body>
    <div id="container">
        <!-- HEADER -->
        <div id="header-wrap">
            <header id="header" class="general-section">
                @*<div id="logo"><a href="index.html"><div class=""><h1>Casey L. Jones</h1></div></a></div>*@
                <a class="mobile-nav-toggle deactive" href="#"><i class="fa-bars"></i></a>
                <nav id="navigation">
                    <ul>
                        <li class="active"><a href="#intro-wrap">home</a><span class="nav-active-mark"></span></li>
                        <li><a href="#about-wrap">about me</a></li>
                        <li><a href="#team-wrap">projects</a></li>
                    </ul>
                </nav><!-- end Navigation -->
                <nav id="mobile-navigation">
                    <ul>
                        <li class="active"><a href="#intro-wrap">home</a></li>
                        <li><a href="#about-wrap">about me</a></li>
                        <li><a href="#team-wrap">projects</a></li>
                    </ul>
                </nav><!-- end Navigation -->
            </header>
        </div>                                        <!-- end Header -->
        <!-- LANDING SCREEN / INTRO -->
        <div id="intro-wrap">
            <div id="hexagon-overlay"></div>
            <section id="intro" class="intro general-section">
                <!-- C# Hex, Name and Title -->
                <div class="hive note-1">
                    <div class="note-tooltip1">Casey L. Jones</div>
                    <br />
                    <div class="note-tooltip2" style="padding-top: 15px;">.NET Software Developer</div>
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <div class="hex-in2 outer-hex">
                                <div class="hex inner-hex">
                                    <div class="hex-in1">
                                        <div class="icon-postit hex-in2 hex-area"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                             <!-- end C# Hex, Name and Title -->
                <!-- Main Picture -->
                <div class="hive welcome-box wow pulse">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <div class="hex-in2 outer-hex">
                                <div class="hex inner-hex">
                                    <div class="hex-in1">
                                        <div class="hex-in2 hex-area" style="background-image: url('../../Assets/images/post template/Casey L. Jones.png'); background-position: center; background-size: auto; background-repeat: no-repeat; ">
                                            <br /><br />
                                            <h3 class="welcometext"></h3>
                                            <h2 class="sitename"></h2>
                                            <p class="info"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              <!-- end Main Picture -->
                <!-- LinkedIn Link -->
                <div class="hive chosen-item-1 wow swing">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <a target="_blank" href="https://www.linkedin.com/in/caseylawsonjones/">
                                <div class="hex-in2 outer-hex" style="background-color: #007bb5;">
                                    <div class="hex inner-hex">
                                        <div class="hex-in1">
                                            <div style="background-image: url('../../Assets/images/post template/LinkedIn Icon 50px.png'); background-position: center; background-size: auto; background-repeat: no-repeat; background-color: #007bb5;" class="hex-in2 hex-area"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>            <!-- end LinkedIn Link -->
                <!-- Github Link -->
                <div class="hive chosen-item-2 wow swing">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <a target="_blank" href="https://github.com/caseylawsonjones">
                                <div class="hex-in2 outer-hex" style="background-color: #fff200;">
                                    <div class="hex inner-hex">
                                        <div class="hex-in1">
                                            <div style="background-image: url('../../Assets/images/post template/Github Icon 50px.png'); background-position: center; background-size: auto; background-repeat: no-repeat; background-color: #fff200;" class="hex-in2 hex-area"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>            <!-- end Github Link -->
                <!-- Email Link -->
                <div class="hive chosen-item-3 wow swing">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <a target="_blank" href="mailto:caseylawsonjones@yahoo.com">
                                <div class="hex-in2 outer-hex" style="background-color: #e52226;">
                                    <div class="hex inner-hex">
                                        <div class="hex-in1">
                                            <div style="background-image: url('../../Assets/images/post template/Envelope Icon 100px.png'); background-position: center; background-size: auto; background-repeat: no-repeat; background-color: #e52226;" class="hex-in2 hex-area"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>            <!-- end Email Link -->
                <!-- Resume Link -->
                <div class="hive chosen-item-4 wow swing" data-toggle="tooltip" title="Resume in PDF Format" placement="auto right">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <button id="PDFLink" type="button" data-toggle="modal" data-target="#PDFModal" style="background:transparent; border:none; color:transparent;">
                                <div class="hex-in2 outer-hex" style="background-color: #f96804;">
                                    <div class="hex inner-hex">
                                        <div class="hex-in1">
                                            <div style="background-image: url('../../Assets/images/post template/Letter R - orange.png'); background-position: center; background-size: auto; background-repeat: no-repeat; background-color: #f96804;" class="hex-in2 hex-area"></div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>            <!-- end Resume Link -->

            </section>
        </div>                                         <!-- end Landing Screen/Intro -->

        <!-- ABOUT/SERVICES SECTION -->
        <div id="about-wrap">
            <section id="services" class="services general-section clearfix">
                <div class="section-triangle-dark"></div>
                <div class="section-title">
                    <h2>Who Am I?</h2>
                </div>
                <div class="services-intro">
                    <div class="one_half wow bounceInLeft"><img src="../../Assets/images/post template/Change Arrow.png" alt=""></div>
                    <div class="one-half last">
                        <h3>
                            I am a .NET software developer in the Piedmont Triad area of NC.  After an IT career spanning 14 years, providing software, hardware and network support , I opted for a career change that, while not abandoning my love for IT, would provide a more creative outlet for my time and energy .  I enrolled in Coder Foundry's Full Stack Immersive Course, where I learned the fundamentals of C#, MVC, Entity Framework, Linq, SQL, Ajax, Xamarin, HTML, CSS3, JavaScript, JQuery  and more.
                        </h3>
                    </div>
                </div>
            </section>
        </div>                                         <!-- end About/Services Section -->

        <!-- PROJECTS SECTION -->
        <div id="team-wrap" class="dark" style="background-image: url('../../Assets/images/team_bg.png'); background-repeat: no-repeat; background-position: center ">
            <section id="team" class="team general-section clearfix">
                <div class="section-triangle"></div>
                <div class="section-title">
                    <h2>PROJECTS</h2>
                    <h5>Here are some samples of my work:</h5>
                </div>
                <div class="row" style="padding-bottom:20px;"></div>
                <div class="team-members">
                    <!-- JavaScript Exercises -->
                    <div class="one_half team-item wow bounceInLeft">
                        <div class="hive">
                            <div class="hex outer-hex change-color">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex change-color">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div style="background-image: url('../../Assets/images/post template/JavaScript Logo - dark background.jpg'); " class="hex-in2 hex-area member-face">
                                                    <ul class="socials">
                                                        <!-- Project Factorial -->
                                                        <li>
                                                            <div class="hive social proj_factorial" data-toggle="tooltip" title="Factorial!" placement="auto right">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <button id="FactorialLink" type="button" data-toggle="modal" data-target="#FactorialModal" style="background:transparent; border:none; color:transparent;">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i class="fa-exclamation"></i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- Project Palindrome -->
                                                        <li>
                                                            <div class="hive social proj_palindrome" data-toggle="tooltip" title="Palindrome" placement="auto right">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <button id="PalindromeLink" type="button" data-toggle="modal" data-target="#PalindromeModal" style="background:transparent; border:none; color:transparent;">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i>Pal</i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- Project Numbers -->
                                                        <li>
                                                            <div class="hive social proj_numberfun" data-toggle="tooltip" title="Number Games" placement="auto right">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <button id="NumbersLink" type="button" data-toggle="modal" data-target="#NumbersModal" style="background:transparent; border:none; color:transparent;">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i>321</i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- Project Fizz Buzz -->
                                                        <li>
                                                            <div class="hive social proj_fizzbuzz" data-toggle="tooltip" title="Fizz Buzz" placement="auto right">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <button id="FizzBuzzLink" type="button" data-toggle="modal" data-target="#FizzBuzzModal" style="background:transparent; border:none; color:transparent;">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i>Fizz</i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>JAVASCRIPT EXERCISES</h3>
                        <h6>Javascript and HTML</h6>
                        <p>
                            Several Javascript exercises demonstrating HTML interaction, string and array manipulation, as well as basic programming logic.
                        </p>
                    </div>            <!-- End JavaScript Exercises -->
                    <!-- Shopping App -->
                    <div class="one_half project-item wow bounceInRight last">
                        <div class="hive">
                            <div class="hex outer-hex change-color">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex change-color">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <a target="_blank" href="http://cjones-shopping.azurewebsites.net">
                                                    <div style="background-image: url('../../Assets/images/post template/Shopping Cart - white background.png');" class="hex-in2 hex-area member-face">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>SHOPPING APPLICATION</h3>
                        <h6>C# and MVC</h6>
                        <p>
                            A product sales site that implements a shopping cart and checkout process.
                        </p>
                        <br /><br />
                    </div>   <!-- End Shopping App  -->
                    <!-- Blog App -->
                    <div class="one_half project-item wow bounceInLeft">
                        <div class="hive">
                            <div class="hex outer-hex change-color">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex change-color">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div style="background-image: url('../../Assets/images/post template/Quill and Paper.png'); background-color: white; background-repeat: no-repeat;" class="hex-in2 hex-area member-face">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>BLOG</h3>
                        <h6>C# and MVC</h6>
                        <p>
                            COMING SOON!!
                        </p>
                        <br /><br /><br />
                    </div>         <!-- End Blog App -->
                    <!-- Bug Tracker App -->
                    <div class="one_half project-item wow bounceInRight last">
                        <div class="hive">
                            <div class="hex outer-hex change-color">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex change-color">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div style="background-image: url('../../Assets/images/post template/Bug - transparent background.png'); background-color: white; background-repeat: no-repeat;" class="hex-in2 hex-area member-face">
                                                    <ul class="socials">
                                                        <li>
                                                            <div class="hive social facebook">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <a href="#">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i class="fa-facebook"></i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="hive social twitter">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <a href="#">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i class="fa-twitter"></i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="hive social google-plus">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <a href="#">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i class="fa-google-plus"></i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="hive social dribbble">
                                                                <div class="hex outer-hex">
                                                                    <div class="hex-in1">
                                                                        <a href="#">
                                                                            <div class="hex-in2 outer-hex">
                                                                                <div class="hex inner-hex">
                                                                                    <div class="hex-in1">
                                                                                        <div class="hex-in2 hex-area"><i class="fa-dribbble"></i></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>BUG TRACKER APP</h3>
                        <h6>C# and MVC</h6>
                        <p>
                            COMING SOON!!
                        </p>
                    </div>   <!-- End Bug Tracker App -->
                </div>
            </section>
        </div>                             <!-- end Projects Section -->

    </div> <!-- end container -->

    <!-- MODAL CONTENT -->
    <!-- Factorial Modal -->
    <div class="modal fade" id="FactorialModal" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:80%; height:65%; background-color:#EACCFE;">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3d0064;">
                    <h1 class="modal-title" style="color: #ffffff; text-align: center; font-weight: 500;">Factorial!</h1>
                </div>
                <div class="modal-body" style="background-color:#EACCFE;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 Factorial Div_Common">
                            <div class="">
                                <h3>Input a number to find the factorial.</h3>
                                <br />
                                <div class="Factorial_Input">
                                    <input id="Number_Entered" type="number" autofocus="autofocus" />
                                    <button onclick="func_Factorial(Number_Entered.value)">Submit</button>
                                </div>
                                <br />
                                <h5>Factorial: <i id="Factorial"></i></h5>
                                <h5>Total: <i id="Total"></i></h5>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <pre class="brush: js">
function func_Factorial(x) {
    if (x != 0) {
        y = Math.abs(x);
        Total_Val = 1;
        i = 0;
        Fact_Array = [];
        for (n = y; n > 0; n--) {
            Total_Val = Total_Val * n;
            Fact_Array[i] = n.toString();
            i++;
        }
        document.getElementById("Factorial").innerHTML = "&lt;span style='color: blue;'>" + Fact_Array + "&lt;/span>";
        document.getElementById("Total").innerHTML = "&lt;span style='color: green;'>" + Total_Val + "&lt;/span>";
    }
    else {
        document.getElementById("Factorial").innerHTML = 
            "&lt;span style='color: red;'>Your input was invalid, please enter a numeric value not equal to 0.&lt;/span>";
        document.getElementById("Total").innerHTML = "";
    }
}
                            </pre>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#3d0064;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fizz Buzz Modal -->
    <div class="modal fade" id="FizzBuzzModal" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:80%; height:65%">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3d0064;">
                    <h1 class="modal-title" style="color: #ffffff; text-align: center; font-weight: 500;">Fizz-Buzz!</h1>
                </div>
                <div class="modal-body" style="background-color:#EACCFE;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 Fizz_Buzz Div_Common">
                            <h3>Input two numbers between 1 and 100.</h3>
                            <h6>(separated by a comma)</h6>
                            <div class="Fizz_Buzz_Input">
                                <input id="Fizz_String" type="text" name="" />
                                <button onclick="func_Load_Buzz_Array(Fizz_String.value)">Submit</button>
                            </div>                <br />
                            <h5>Your FIZZ-BUZZ results:</h5>
                            <i id="Fizz_Buzz"></i>
                        </div>
                        <div class="col-md-5">
                            <pre class="brush: js">
                            var Buzz_Array = [];
                            function func_Load_Buzz_Array(Buzz_Input) {
                                var i = 0;
                                var Temp_Num = '';
                                if (Buzz_Input == '') {
                                    document.getElementById("Fizz_Buzz").innerHTML = "This only works if you actually enter numbers...";
                                    return;
                                }
                                for (n = 0; n < (Buzz_Input.length); n++) {
                                    if (((Buzz_Input.charCodeAt(n) >= 46) && (Buzz_Input.charCodeAt(n) <= 57)) && (Buzz_Input.charCodeAt(n) != 47)) {
                                        Temp_Num += Buzz_Input.charAt(n)
                                    }
                                    else {
                                        Buzz_Array[i] = Number(Temp_Num);
                                        i++;
                                        Temp_Num = '';
                                    }
                                }
                                /* If the last character entered was not a number, then Temp_Num will = '' and a
                                zero will incorrectly be concatenated into the array */
                                if (Temp_Num != '') {
                                    Buzz_Array[i] = Number(Temp_Num);
                                }
                                Temp_Num = '';
                                if ((((Buzz_Array[0] > 100) || (Buzz_Array[0] <= 0))) || (((Buzz_Array[1] > 100) || (Buzz_Array[1] <= 0)))) {
                                    document.getElementById("Fizz_Buzz").innerHTML = "Please try again.  Both numbers need to be between 1 and 100.";
                                    return;
                                }
                                else {
                                    if (Buzz_Array[0] == Buzz_Array[1]) {
                                        document.getElementById("Fizz_Buzz").innerHTML = "The results are much more interesting if you enter two diffent numbers.";
                                        return;
                                    }
                                    else {
                                        func_FizzBuzz_Results();
                                    }
                                }
                            }
                            function func_FizzBuzz_Results() {
                                var Fizz = Buzz_Array[0];
                                var Buzz = Buzz_Array[1];
                                var Fizz_Buzz_Array = [];
                                for (i = 0; i <= 99; i++) {
                                    Fizz_Buzz_Array[i] = i + 1;
                                    if (((Fizz_Buzz_Array[i] % Fizz) == 0) && ((Fizz_Buzz_Array[i] % Buzz) == 0)) {
                                        Fizz_Buzz_Array[i] = "<span style='color: red;'> FIZZ--BUZZ </span> ";
                                    }
                                    else {
                                        if ((Fizz_Buzz_Array[i] % Fizz) == 0) {
                                            Fizz_Buzz_Array[i] = "<span style='color: blue;'> FIZZ </span> ";
                                        }
                                        else {
                                            if ((Fizz_Buzz_Array[i] % Buzz) == 0) {
                                                Fizz_Buzz_Array[i] = "<span style='color: orange;'> BUZZ </span> ";
                                            }
                                        }
                                    }
                                }
                                document.getElementById("Fizz_Buzz").innerHTML = Fizz_Buzz_Array;
                            }
                        </pre>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#3d0064;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Numbers Modal -->
    <div class="modal fade" id="NumbersModal" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:80%; height:65%">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3d0064;">
                    <h1 class="modal-title" style="color: #ffffff; text-align: center; font-weight: 500;">Number Games</h1>
                </div>
                <div class="modal-body" style="background-color:#EACCFE;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 Five_Numbers Div_Common">
                            <h3>Input a list of numbers.</h3>
                            <h6>(separated by a comma)</h6>
                            <div class="Five_Numbers_Input">
                                <input id="Num_String" type="text" name="" data-separator="," />
                                <button onclick="func_Load_Num_Array(Num_String.value)">Submit</button>
                            </div>
                            <div>
                                <br />
                                <h5>The numbers that you entered are: <i id="disp_Num_Input"></i></h5>
                                <br />
                                <h5>The greatest number that you entered is: <i id="disp_High_Val"></i></h5>
                                <h5>The smallest number that you entered is: <i id="disp_Low_Val"></i></h5>
                                <br />
                                <h5>The mean of the numbers that you entered is: <i id="disp_Mean_Val"></i></h5>
                                <h5>The sum of the numbers that you entered is: <i id="disp_Sum_Val"></i></h5>
                                <br />
                                <h5>The product of the numbers that you entered is: <i id="disp_Product_Val"></i></h5>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <pre class="brush: js">
                            function func_Load_Num_Array(Num_Input) {
                                var i = 0;
                                var Temp_Num = '';
                                for (n = 0; n < (Num_Input.length); n++) {
                                    if (((Num_Input.charCodeAt(n) >= 46) && (Num_Input.charCodeAt(n) <= 57)) && (Num_Input.charCodeAt(n) != 47)) {
                                        Temp_Num += Num_Input.charAt(n)
                                    } else {
                                        if (((Num_Input.charCodeAt(n - 1) >= 46) && (Num_Input.charCodeAt(n - 1) <= 57)) && (Num_Input.charCodeAt(n - 1) != 47)) {
                                            Num_Array[i] = Number(Temp_Num);
                                            i++;
                                            Temp_Num = '';
                                        }
                                    }
                                }
                                /* If the last character entered was not a number, then Temp_Num will = '' and a
                                zero will incorrectly be concatenated into the array */
                                if (Temp_Num != '') {
                                    Num_Array[i] = Number(Temp_Num);
                                }
                                Temp_Num = '';
                                func_Process_Results();
                            }
                            function func_Process_Results() {
                                var i = (Num_Array.length - 1);
                                Num_Array.sort(function (a, b) { return a - b });
                                Low_Val = Num_Array[0];
                                High_Val = Num_Array[i];
                                var n = 0;
                                for (n = 0; n <= i; n++) {
                                    Sum_Val += Num_Array[n];
                                    Product_Val = Product_Val * Num_Array[n];
                                }
                                Mean_Val = (Sum_Val / Num_Array.length);
                                func_Display_Results();
                            }
                            function func_Display_Results() {
                                document.getElementById("disp_Num_Input").innerHTML = "<span style='color: green;'>" + Num_Array + "</span>";
                                document.getElementById("disp_Low_Val").innerHTML = "<span style='color: green;'>" + Low_Val + "</span>";
                                document.getElementById("disp_High_Val").innerHTML = "<span style='color: green;'>" + High_Val + "</span>";
                                document.getElementById("disp_Mean_Val").innerHTML = "<span style='color: green;'>" + Mean_Val + "</span>";
                                document.getElementById("disp_Sum_Val").innerHTML = "<span style='color: green;'>" + Sum_Val + "</span>";
                                document.getElementById("disp_Product_Val").innerHTML = "<span style='color: green;'>" + Product_Val + "</span>";
                                /* We must clear all of the variables or they will carry over, since they are global */
                                Num_Array = [];
                                High_Val = 0;
                                Low_Val = 0;
                                Mean_Val = 0;
                                Sum_Val = 0;
                                Product_Val = 1;
                            }
                        </pre>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#3d0064;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Palindrome Modal -->
    <div class="modal fade" id="PalindromeModal" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:80%; height:65%">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3d0064;">
                    <h1 class="modal-title" style="color: #ffffff; text-align: center; font-weight: 500;">Is It a Palindrome?</h1>
                </div>
                <div class="modal-body" style="background-color:#EACCFE;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 Palindrome Div_Common">
                            <h3>Will it Palindrome?</h3>
                            <br />
                            <div class="Palindrome_Input">
                                <input autofocus="autofocus" id="Text_Input" type="text" />
                                <button onclick="func_Palindrome(Text_Input.value)">Submit</button>
                            </div>
                            <br />
                            <i id="Is_Pal"></i>
                        </div>
                        <div class="col-md-5">
                            <pre class="brush: js">
                            function func_Palindrome(Text_String) {
                                var i = 0;
                                var n = 5;
                                var Pal_String = Text_String.toLowerCase();
                                var Pal_String2 = Pal_String.replace(/ /g, "");
                                Pal_String = '';
                                for (i = Pal_String2.length; i >= 0; i--) {
                                    Pal_String += Pal_String2.charAt(i);
                                }
                                n = Pal_String.localeCompare(Pal_String2);
                                if (n == 0) { Is_Pal = "<span style='color: green; font-weight: bold'>Wow!  Your word or phrase is a Palindrome!!!!!</span>" }
                                else { Is_Pal = "<span style='color: red'>Sorry friend, your word or phrase is not a Palindrome.</span>" }
                                document.getElementById("Is_Pal").innerHTML = Is_Pal;
                            }
                        </pre>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#3d0064;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PDF Modal -->
    <div class="modal fade" id="PDFModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <object type="application/pdf" data="../../Assets/Resume.pdf" width="100%" height="500" style="height: 85vh;">No Support</object>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/scripts/jquery.easing.js"></script>
    <script src="~/Assets/scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Assets/scripts/jquery.flexslider-min.js"></script>
    <script id="wow_js_file" type="text/javascript" src="~/Assets/scripts/wow.min.js"></script>
    <script id="waypoints_js_file" type="text/javascript" src="~/Assets/scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Assets/scripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Assets/scripts/custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Assets/scripts/twitter/jquery.tweet.js"></script>

    <!-- SyntaxHighlighter Scripts -->
    <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>

    <!-- Template-specific Script-->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.tweets-container').tweet({
                modpath: '~/Assets/scripts/twitter/',
                count: 3,
                loading_text: 'loading twitter feed...',
		        username:'odindesign_tw',
		        template: '<div class="hive"><div class="hex outer-hex"><div class="hex-in1"><div class="hex-in2 outer-hex"><div class="hex inner-hex"><div class="hex-in1"><div class="hex-in2 hex-area"><i class="fa-twitter-black"></i></div></div></div></div></div></div></div><div class="twitter-content">{time}<p>{text}</p></div>'
            });
        });
    </script>

    <!-- Scripts for the JavaScript Exercises -->
    <script>
        function func_Factorial(x) {
            if (x != 0) {
                y = Math.abs(x);
                Total_Val = 1;
                i = 0;
                Fact_Array = [];
                for (n = y; n > 0; n--) {
                    Total_Val = Total_Val * n;
                    Fact_Array[i] = n.toString();
                    i++;
                }
                document.getElementById("Factorial").innerHTML = "<span style='color: blue;'>" + Fact_Array + "</span>";
                document.getElementById("Total").innerHTML = "<span style='color: green;'>" + Total_Val + "</span>";
            }
            else {
                document.getElementById("Factorial").innerHTML = "<span style='color: red;'>Your input was invalid, please enter a numeric value not equal to 0.</span>";
                document.getElementById("Total").innerHTML = "";
            }
        }
    </script>
    <script>
                var Buzz_Array = [];
                function func_Load_Buzz_Array(Buzz_Input) {
                    var i = 0;
                    var Temp_Num = '';
                    if (Buzz_Input == '') {
                        document.getElementById("Fizz_Buzz").innerHTML = "This only works if you actually enter numbers...";
                        return;
                    }
                    for (n = 0; n < (Buzz_Input.length); n++) {
                        if (((Buzz_Input.charCodeAt(n) >= 46) && (Buzz_Input.charCodeAt(n) <= 57)) && (Buzz_Input.charCodeAt(n) != 47)) {
                            Temp_Num += Buzz_Input.charAt(n)
                        }
                        else {
                            Buzz_Array[i] = Number(Temp_Num);
                            i++;
                            Temp_Num = '';
                        }
                    }
                    /* If the last character entered was not a number, then Temp_Num will = '' and a
                    zero will incorrectly be concatenated into the array */
                    if (Temp_Num != '') {
                        Buzz_Array[i] = Number(Temp_Num);
                    }
                    Temp_Num = '';
                    if ((((Buzz_Array[0] > 100) || (Buzz_Array[0] <= 0))) || (((Buzz_Array[1] > 100) || (Buzz_Array[1] <= 0)))) {
                        document.getElementById("Fizz_Buzz").innerHTML = "Please try again.  Both numbers need to be between 1 and 100.";
                        return;
                    }
                    else {
                        if (Buzz_Array[0] == Buzz_Array[1]) {
                            document.getElementById("Fizz_Buzz").innerHTML = "The results are much more interesting if you enter two diffent numbers.";
                            return;
                        }
                        else {
                            func_FizzBuzz_Results();
                        }
                    }
                }
                function func_FizzBuzz_Results() {
                    var Fizz = Buzz_Array[0];
                    var Buzz = Buzz_Array[1];
                    var Fizz_Buzz_Array = [];
                    for (i = 0; i <= 99; i++) {
                        Fizz_Buzz_Array[i] = i + 1;
                        if (((Fizz_Buzz_Array[i] % Fizz) == 0) && ((Fizz_Buzz_Array[i] % Buzz) == 0)) {
                            Fizz_Buzz_Array[i] = "<span style='color: red;'> FIZZ--BUZZ </span > ";
                        }
                        else {
                            if ((Fizz_Buzz_Array[i] % Fizz) == 0) {
                                Fizz_Buzz_Array[i] = "<span style='color: blue;'> FIZZ </span > ";
                            }
                            else {
                                if ((Fizz_Buzz_Array[i] % Buzz) == 0) {
                                    Fizz_Buzz_Array[i] = "<span style='color: orange;'> BUZZ </span > ";
                                }
                            }
                        }
                    }
                    document.getElementById("Fizz_Buzz").innerHTML = Fizz_Buzz_Array;
                }
    </script>
    <script>
                var Num_Array = [];
                var High_Val = 0;
                var Low_Val = 0;
                var Mean_Val = 0;
                var Sum_Val = 0;
                var Product_Val = 1; /* It will be used in multiplication later, thus 1 vs. 0 */
                //var Separator = ','; /* document.getElementById(Num_String).data-separator.value; */
                function func_Load_Num_Array(Num_Input) {
                    var i = 0;
                    var Temp_Num = '';
                    for (n = 0; n < (Num_Input.length); n++) {
                        if (((Num_Input.charCodeAt(n) >= 46) && (Num_Input.charCodeAt(n) <= 57)) && (Num_Input.charCodeAt(n) != 47)) {
                            Temp_Num += Num_Input.charAt(n)
                        } else {
                            if (((Num_Input.charCodeAt(n - 1) >= 46) && (Num_Input.charCodeAt(n - 1) <= 57)) && (Num_Input.charCodeAt(n - 1) != 47)) {
                                Num_Array[i] = Number(Temp_Num);
                                i++;
                                Temp_Num = '';
                            }
                        }
                    }
                    /* If the last character entered was not a number, then Temp_Num will = '' and a
                    zero will incorrectly be concatenated into the array */
                    if (Temp_Num != '') {
                        Num_Array[i] = Number(Temp_Num);
                    }
                    Temp_Num = '';
                    func_Process_Results();
                }
                function func_Process_Results() {
                    var i = (Num_Array.length - 1);
                    Num_Array.sort(function (a, b) { return a - b });
                    Low_Val = Num_Array[0];
                    High_Val = Num_Array[i];
                    var n = 0;
                    for (n = 0; n <= i; n++) {
                        Sum_Val += Num_Array[n];
                        Product_Val = Product_Val * Num_Array[n];
                    }
                    Mean_Val = (Sum_Val / Num_Array.length);
                    func_Display_Results();
                }
                function func_Display_Results() {
                    document.getElementById("disp_Num_Input").innerHTML = "<span style='color: green;'>" + Num_Array + "</span>";
                    document.getElementById("disp_Low_Val").innerHTML = "<span style='color: green;'>" + Low_Val + "</span>";
                    document.getElementById("disp_High_Val").innerHTML = "<span style='color: green;'>" + High_Val + "</span>";
                    document.getElementById("disp_Mean_Val").innerHTML = "<span style='color: green;'>" + Mean_Val + "</span>";
                    document.getElementById("disp_Sum_Val").innerHTML = "<span style='color: green;'>" + Sum_Val + "</span>";
                    document.getElementById("disp_Product_Val").innerHTML = "<span style='color: green;'>" + Product_Val + "</span>";
                    /* We must clear all of the variables or they will carry over, since they are global */
                    Num_Array = [];
                    High_Val = 0;
                    Low_Val = 0;
                    Mean_Val = 0;
                    Sum_Val = 0;
                    Product_Val = 1;
                }
    </script>
    <script>
                function func_Palindrome(Text_String) {
                    var i = 0;
                    var n = 5;
                    var Pal_String = Text_String.toLowerCase();
                    var Pal_String2 = Pal_String.replace(/ /g, "");
                    Pal_String = '';
                    for (i = Pal_String2.length; i >= 0; i--) {
                        Pal_String += Pal_String2.charAt(i);
                    }
                    n = Pal_String.localeCompare(Pal_String2);
                    if (n == 0) { Is_Pal = "<span style='color: green; font-weight: bold'>Wow!  Your word or phrase is a Palindrome!!!!!</span>" }
                    else { Is_Pal = "<span style='color: red'>Sorry friend, your word or phrase is not a Palindrome.</span>" }
                    document.getElementById("Is_Pal").innerHTML = Is_Pal;
                }
    </script>
    <script>
        $('.modal').on('hidden.bs.modal', function () {
            $(this).find("input,textarea,select").val('').end();
            document.getElementById("Is_Pal").innerHTML = "";
            document.getElementById("disp_Num_Input").innerHTML = "";
            document.getElementById("disp_Low_Val").innerHTML = "";
            document.getElementById("disp_High_Val").innerHTML = "";
            document.getElementById("disp_Mean_Val").innerHTML = "";
            document.getElementById("disp_Sum_Val").innerHTML = "";
            document.getElementById("disp_Product_Val").innerHTML = "";
            document.getElementById("Fizz_Buzz").innerHTML = "";
            document.getElementById("Factorial").innerHTML = "";
            document.getElementById("Total").innerHTML = "";
        });
    </script>
</body>
</html>
